html
    head
        title My library with pug
    body(class=["myClass"])
        h1(id='MyId') #{title}
        p
            h3 sub header pug
        ul
            each val in list
                li #{val}